*{
    margin: 0; 
    padding: 0;
}
body {
    background-color: darksalmon;
    box-sizing: border-box;
}
.fill {
    background-image: url('img.jpg');
    background-size: cover;
    position: relative;
    height: 150px;
    width: 250px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}
.empty {
    display: inline-block;
    height: 160px;
    width: 260px;
    margin: 10px;
    border: 3px solid salmon;
    background-color: #ffffff;
}
.hold {
    border: 3px solid #cccccc;
}
.hovered {
    background: #f4f4f4;
    border-style: dashed;
}
.invisible {
    display: none;
}