.container {
  width: 900px;
  margin: 0 auto;
}

.container h2 {
  text-align: center;
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th {
  cursor: pointer;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.active {
  background-color: rgba(179, 179, 179, 0.809);
}
.table-sortable .th-sort-asc::after {
  content: '\25b4';
}
.table-sortable .th-sort-desc::after {
  content: '\25be';
}
.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}
.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgb(99, 87, 87) !important;
}

